
<footer>
	<div class="bottom-nav">
		<div><a href="{{site.url}}/homepage/" title="" class="tooltip"><img src="{{site.url}}/assets/icons/home.svg" title="homepage" alt="Homepage Button"><span class="tooltiptext">Home</span></a></div>
		<div><a href="{{site.url}}/profile/" title="" class="tooltip"><img src="{{site.url}}/assets/icons/profile.svg" title="My Profile" alt="Profile Button"><span class="tooltiptext">My Profile</span></a></div>
		<div><a href="{{site.url}}/galleries/" title="" class="tooltip"><img src="{{site.url}}/assets/icons/galleries.svg" title="My Galleries" alt="Galleries Button"><span class="tooltiptext">My Galleries</span></a></div>
		<div><a href="{{site.url}}/messages/" title="" class="tooltip"><img src="{{site.url}}/assets/icons/messages.svg" title="My Messages" alt="Messages Button"><span class="tooltiptext">Messages</span></a></div>
		<div><a href="{{site.url}}/settings/" title="" class="tooltip"><img src="{{site.url}}/assets/icons/settings.svg" title="Settings" alt="profile settings Button"><span class="tooltiptext">Settings</span></a></div>
	</div>
</footer>

	<script src="{{site.url}}/assets/js/script.js"></script>
</body>

</html>