<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="https://dev-folder.github.io/dev-mn/assets/css/style.css">
    <title>{{site.name}} - {{page.description}}</title>
</head>

<body>
    <header id="header">
        <div class="logo">
            <a href="{{site.url}}" title="Modelling Network" target="_self">
                <img src="/assets/images/logo.png" alt="modelling network white logo">
            </a>
        </div>

        <div class="menu">
            <img src="/assets/icons/005-gear.svg" alt="gear button">
        </div>
    </header>