---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{site.description}}">
	<link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
	<title>{{site.name}} - {{page.description}}</title>
</head>

<body class="login-page justFade">

	<header>
		<nav></nav>
		<h1></h1>
	</header>

	{{ content }}
	
	<footer></footer>

	<script src="{{site.url}}assets/js/script.js"></script>
</body>

</html>